version: '3.7'

services:

  httpd:
    image: nginx:latest
    expose:
      - "${HTTPD_LISTEN_PORT}"
    ports:
      - "${HTTPD_LISTEN_PORT}:${HTTPD_LISTEN_PORT}"
    volumes:
      - ./components/httpd/nginx.conf:/etc/nginx/nginx.conf
      - ./components/httpd/upstream.conf:/etc/nginx/upstream.conf
      - ./components/httpd/m2.conf:/etc/nginx/m2.conf
      - ./components/httpd/sites:/etc/nginx/sites-available
      - ./components/ssl/certificates:/etc/nginx/certificates
      - ${PROJECTPATH}:/var/www/html
    depends_on:
      - php
      - database

  php:
    build:
      context: ./components/php/${PHP_VERSION}
      dockerfile: Dockerfile
    ports:
      - "9000"
      - "9001"
    user: "${USER}"
    env_file:
      - ./components/.env.php
    volumes:
      - ./components/php/${PHP_VERSION}/conf/php.ini:/usr/local/etc/php/php.ini
      - ./components/php/${PHP_VERSION}/conf/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./components/php/${PHP_VERSION}/conf/www.conf:/usr/local/etc/www.conf
      - ${PROJECTPATH}:/var/www/html
    extra_hosts:
      - host.docker.internal:$HOST_IP

  database:
    image: mysql:${MYSQL_VERSION}
    ports:
      - "${DB_LISTEN_PORT}:${DB_LISTEN_PORT}"
    env_file:
      - ./components/.env.mysql
    expose:
      - "${DB_LISTEN_PORT}"
    volumes:
      - db-persistance:/var/lib/mysql
      - ./components/mysql/conf.d:/etc/mysql/conf.d

  redis:
    image: redis:latest
    volumes:
      - redis-persistance:/data

  rabbitmq:
    image: rabbitmq:${RABBITMQ_VERSION}-management-alpine
    hostname: ${PROJECT_NAME}-rabbitmq
    env_file:
      - ./components/.env.rabbitmq
    volumes:
        - rabbitmq-persistance:/var/lib/rabbitmq

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.0.0
    environment:
      - "http.host=0.0.0.0"
      - "transport.host=0.0.0.0"
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "discovery.type=single-node"
    volumes:
      - es-persistance:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  mailhog:
    image: mailhog/mailhog
    ports: 
      - ${MAILHOG_SMTP_PORT}:1025
      - ${MAILHOG_WEB_PORT}:8025

  mongodb:
    image: mongo:${MONGODB_VERSION}
    restart: always
    env_file:
      - ./components/.env.mongodb
    volumes:
      - mongo-persistance:/var/lib/mongodb
      - ./gleipnir/mongodb/mongod.conf:/etc/mongod.conf
      - ./gleipnir/mongodb/mongodb.conf:/etc/mongodb.conf

volumes:
    db-persistance:
      name: ${PROJECT_NAME}-db-data
    es-persistance:
      name: ${PROJECT_NAME}-es-data
    rabbitmq-persistance:
      name: ${PROJECT_NAME}-rabbit-data
    redis-persistance:
      name: ${PROJECT_NAME}-redis-data
    mongo-persistance:
      name: ${PROJECT_NAME}-mongo-data

networks:
  default:
    name: ${PROJECT_NAME}_NETWORK
    ipam:
      config:
      - subnet: 10.123.0.0/16      

