server {
    server_name NEEDLE_DOMAIN${TLD};
    listen ${HTTPD_LISTEN_PORT};

    set ${DOLLAR}MAGE_ROOT /var/www/html;
    set ${DOLLAR}MAGE_MODE developer;
    set ${DOLLAR}MAGE_RUN_CODE NEEDLE_CODE;
    set ${DOLLAR}MAGE_RUN_TYPE NEEDLE_SCOPE;
    set ${DOLLAR}HTTPS_FORWARD on;
    set ${DOLLAR}FPM_USER root;

    include /etc/nginx/m2.conf;
}
