[mysqld]
skip_name_resolve

table_open_cache                     = 4096

table_definition_cache               = 4096
thread_cache_size                    = 256
query_cache_size                     = 64M
query_cache_type                     = 1

sort_buffer_size                     = 16M

max_heap_table_size                  = 512M
tmp_table_size                       = 512M

interactive_timeout                  = 3600

max_connections                      = 400
max_connect_errors                   = 1000000
max_allowed_packet                   = 512M

wait_timeout                         = 28800
key_buffer_size                      = 256M

myisam_sort_buffer_size              = 128M


innodb_buffer_pool_size              = 2G
innodb_log_file_size                 = 256M
innodb_thread_concurrency            = 18
innodb_flush_log_at_trx_commit       = 0
